body {
  background-color: #a28089;
}

.finished-projects {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unfinished-projects {
  position: absolute;
  top: 60%;
  left: 52%;
  transform: translate(-60%, -50%);
}
